*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary_color: #3b4946;
    --secondary_color: #ac957b;
    --terciary_color: #ded8d1;
    --price_color: #cf7b1d;
    --footer_color: #dcd2c7;

    --box_dark: #485754;
    --box_light: #637471;
}

[tema="light"]{
    --primary_color: #ded8d1;
    --secondary_color: #ac957b;
    --terciary_color: #3b4946;
    --price_color: #e88d24;
    --footer_color: #465552;

    --box_dark: #c6baac;
    --box_light: #e1d8cf;
}

body{
    width: 100%;

    overflow-x: hidden;

    background-color: var(--terciary_color);

    font-weight: lighter;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary_color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: var(--terciary_color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--primary_color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary_color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--terciary_color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary_color);
}

/* Header */

header{
    margin-top: 1rem;
    width: 80%;


    display: flex;
    flex-direction: column;
}

.head{
    width: 100%;

    position: relative;

    display: flex;
    align-items: center;
}

.head div{
    display: flex;
}

.head div:first-child{
    width: 100%;
}

.head div:last-child{
    position: absolute;
    right: 2rem;
}

#logo{
    width: 5rem;
}

.linea{
    width: 100%;
    padding-top: 1rem;

    border-bottom: 1px solid var(--primary_color);
}

nav{
    width: 100%;
    padding-top: 1.5rem;

    display: flex;
    align-items: center;
}

#search{
    width: 10%;
    padding: 0.8rem;

    display: flex;
    align-items: center;

    border: 1px solid var(--primary_color);
    border-radius: 10px;
}

#search i{
    width: 20%;

    font-size: 1.5rem;
    color: var(--primary_color);
}

#search p{
    width: 80%;
    padding-left: 10%;
    font-size: 1rem;
    color: var(--primary_color);
}

nav h4{
    width: 20%;

    text-align: center;
    color: var(--primary_color);
    
    cursor: pointer;
}

#icons{
    width: 15%;
    padding: 0.8rem;

    display: flex;
    align-items: center;

    cursor: pointer;
}

#icons i,
#icons div{
    width: 20%;

    font-size: 1.9rem;
    color: var(--primary_color);
}

#icons div{
    position: relative;
}

#num_bag{
    width: 17px;
    height: 17px;

    position: absolute;
    top: 1.4rem;
    left: 1.1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.7rem;

    color: var(--terciary_color);
    background-color: var(--price_color);
    border-radius: 50%;
}

.mobile,
#check,
.hamburguer_menu {
    display: none;
}

.hamburguer_menu i{
    font-size: 2rem;
    color: var(--primary_color);
}

/* Main */

main{
    width: 80%;
}

section{
    margin-top: 3rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

section #title{
    width: 35%;
    margin-left: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 3.5rem;
    color: var(--primary_color);
}

section #title h1{
    width: 100%;
}

section div{
    display: flex;
    align-items: center;
    justify-content: center;
} 

section div img{
    width: 70%;
} 

#image{
    width: 55%;
    position: relative;
}

#image img{
    width: 100%;
}

#image .plus{
    padding: 0.4rem;

    position: absolute;

    font-size: 1.4rem;

    border-radius: 50%;
    background-color: var(--price_color);

    opacity: 0.6;
    transition: 0.5s;

    z-index: 5;
}

#image .plus:hover{
    opacity: 0.8;
    transition: 0.5s;

    cursor: pointer;
}

#image .plus2{
    top: 13.5rem;
    right: 27rem;
}

#image .plus3{
    top: 15rem;
    right: 15rem;
}

.tag{
    position: absolute;
    top: 6rem;
    left: 44rem;

    color: var(--price_color);
}

.tag i{
    font-size: 11rem;
}

.tag p{
    position: absolute;

    font-size: 2.6rem;
    color: var(--terciary_color);
}

/* Products */

#products{
    width: 100%;
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
}

#products #subtitle{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

#products #subtitle h2{
    width: 90%;
    
    font-size: 3.5rem;
    color: var(--primary_color);
}

#products section{
    width: 100%;
    margin-bottom: 5rem;

    display: flex;

    background-color: var(--primary_color);
}

#products section div{
    width: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
}

#products section div h3{
    width: 100%;
    margin-bottom: 2rem;

    text-align: center;
    font-size: 2.5rem;
    color: var(--terciary_color);
}

#products section .info p{    
    opacity: 1;
    font-size: 1rem;
}

#products section .info .subtitle{
    opacity: 0.8;
    font-size: 0.9rem;
}

#products section div p{
    width: 80%;
    margin-bottom: 2rem;

    font-size: 1.1rem;
    color: var(--terciary_color);
}

#products section div a{
    width: 80%;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;

    text-decoration: none;
    letter-spacing: 0.6rem;
    font-size: 1.1rem;
    color: var(--terciary_color);

    opacity: 0.5;
    transition: 0.5s;
    border-bottom: 1px solid var(--terciary_color);
}

#products section div a:hover{
    opacity: 0.9;
    transition: 0.5s;
}

#products section .product_img{
    position: relative;
}

#products section .product_img img,
#products section .product_img .bag{
    z-index: 3;
}

#products section .product_img .box{
    width: 50%;
    height: 30rem;
    position: absolute;

    top: -4rem;
    right: 10rem;

    background-color: var(--box_dark);

    z-index: 1;
}

#products section .product_img .internal_box{
    width: 100%;
    height: 30rem;

    border: 3px solid var(--box_light);

    z-index: 2;
}

#products section .product_img .bag{
    width: 38%; 
    padding: 1.5rem;

    position: relative;
    right: -13rem;
    bottom: -0.6rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-weight: bolder;
    background-color: var(--secondary_color);

    cursor: pointer;
}

#products section .product_img .bag p{
    width: 100%;
    margin: 0;
    
    text-align: center;
    font-size: 1rem;
    color: var(--primary_color);
}

#products section .product_img .bag i{
    padding-right: 1rem;
    font-size: 1.7rem;

    color: var(--primary_color);
}

#products section .product_img .tag{
    top: -2rem;
    left: 15rem;

    z-index: 5;
}

#products section .product_img .tag p{
    width: 4rem;
    margin-bottom: 0;

    font-size: 1.5rem;
}

#products section .product_img .tag i{
    font-size: 8rem;
}

/* Our Products */

#our_products{
    width: 100%;

    display: flex;
    flex-direction: column;
}

#our_products #subtitle{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

#our_products #subtitle h2{
    width: 90%;
    
    font-size: 3.5rem;
    color: var(--primary_color);
}

#our_products section{
    width: 100%;
    margin-bottom: 5rem;

    display: flex;
}

#our_products section .menu{
    width: 20%;
}

#our_products section .menu ul{
    list-style: none;

    font-size: 0.8rem;
    color: var(--primary_color);
}

#our_products section .menu ul .selected{
    position: relative;

    font-weight: bold;
}

#our_products section .menu ul .selected div{
    width: 25rem;
    height: 0.5rem;

    position: absolute;
    top: 0.5rem;
    left: -21.5rem;

    background-color: var(--price_color);
    opacity: 0.5;

    z-index: -1;
}

#our_products section .menu ul li{
    margin: 1rem;
    cursor: pointer;
}

#our_products section .images{
    width: 80%;
    margin-left: 7rem;

    display: flex;
}

#our_products section .images div{
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
}

#our_products section .images div img{
    width: 100%;
    height: 20rem;
}

#our_products section .images div h3{
    color: var(--primary_color);
    
    padding-bottom: 1rem;
}

#our_products section .images div p{
    font-size: 0.9rem;
    opacity: 0.8;    

    color: var(--primary_color);

    text-align: center;
    padding-bottom: 1.2rem;
}

#our_products section .images div button{
    padding: 0.8rem;

    font-size: 0.75rem;
    font-weight: bold;
    color: var(--primary_color);

    background-color: var(--terciary_color);
    border: 1px solid var(--primary_color);
    border-bottom: 3px solid var(--primary_color);

    cursor: pointer;
    transition: 0.5s;
}

#our_products section .images div button:hover{
    background-color: var(--primary_color);
    color: var(--terciary_color);

    transition: 0.5s;
}

#our_products section .images div .tag{
    position: absolute;
    top: 5rem;
    left: 9rem;

    color: var(--price_color);
}

#our_products section .images div .tag i{
    font-size: 5rem;
}

#our_products section .images div .tag p{
    position: absolute;
    top: 1.75rem;

    font-size: 1.1rem;
    color: var(--terciary_color);
}

/* Need */

#need{
    width: 100%;
    padding: 3rem;
    margin-bottom: 3rem;

    background-color: var(--primary_color);
}

#need section{
    width: 100%;
    margin: 0;

    position: relative;

    display: flex;
}

#need section .images{
    width: 50%;

    position: relative;
}

#need section .images img{
    position: absolute;

    width: 15rem;
}

#need section .images img:nth-child(1){
    top: -20rem;
    left: 3rem;
}

#need section .images img:nth-child(2){
    width: 12rem;

    top: -18rem;
    left: 23rem;
}

#need section .images img:nth-child(3){
    top: 0rem;
    left: 18rem;
}

#need section .images img:nth-child(4){
    width: 12rem;

    top: 2rem;
    left: 1rem;
}

#need section .content{
    width: 60%;
    height: 40rem;
    padding-bottom: 10rem;

    display: flex;
    flex-direction: column;
}

#need section .content h2{
    width: 100%;
    padding-bottom: 2rem;

    font-size: 2.8rem;
    color: var(--terciary_color);
}

#need section .content p{
    width: 100%;
    padding-right: 10rem;
    padding-bottom: 2rem;

    color: var(--terciary_color);
}

#need section .content button{
    padding: 1rem;
    margin-right: 39.8rem;

    border: none;
    font-weight: bold;
    color: var(--primary_color);
    background-color: var(--secondary_color);

    cursor: pointer;
}

#need section .plant{
    width: 20rem;
    position: absolute;

    top: 12.2rem;
    left: 74rem;

}

/* Footer */

footer{
    width: 100%;
    padding: 2.5rem;
    padding-bottom: 1.5rem;

    display: flex;
    flex-direction: column;

    background-color: var(--footer_color);
}

footer ul{
    width: 50%;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: row;

    list-style: none;
}

footer .menu li{
    width: 100%;

    text-align: center;
    font-size: 1.2rem;
    color: var(--primary_color);

    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
}

footer .menu li:hover{
    opacity: 1;
    transition: 0.5s;
}

footer .icons{
    width: 100%;

    display: flex;
    justify-content: center;

    font-size: 1.5rem;
    color: var(--primary_color);
}

footer .icons li{
    width: 5%;
    margin: 0;
}

footer .icons li i{
    padding: 0.5rem;

    border: 1px solid #c5bbb1;
    border-radius: 50%;
    transition: 0.5s;

    cursor: pointer;
}

footer .icons li i:hover{
    border: 1px solid var(--primary_color);
    transition: 0.5s;
}

footer div{
    width: 100%;
    padding-top: 2rem;

    border-top: 1px solid #c5bbb1;

    display: flex;
    font-size: 0.8rem;
    color: var(--primary_color);
}

footer div p{
    width: 70%;
}

footer div ul{
    width: 70%;
}

footer div ul li{
    cursor: pointer;
}

@media (max-width: 400px) {

    /* Switch */

    .pc .switch{
        display: none;
    }
    
    /* Menú hamburguesa */
    
    .hamburguer_menu{
        width: 100%;
        height: 100%;
    }
    
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        position: fixed;
        top: 10rem;
        left: 0;
    
        width: 100%;
        background-color: var(--terciary_color);
    
        opacity: 0;
        z-index: -500;
    }
    
    nav div{
        display: none;
        width: 100%;
    }

    .mobile,
    #check,
    .hamburguer_menu {
        display: block;
    }
    
    .mobile{
        width: 100%;
        margin-bottom: 2rem;

        display: flex;
    }

    nav #search{
        width: 60%;
        margin-bottom: 3rem;

        text-align: center;
    }

    nav h4{
        width: 100%;
        margin-bottom: 2rem;
    }

    nav #icons{
        width: 100%;
        margin-bottom: 2rem;
    }

    nav #icons div,
    nav #icons i{
        display: block;
        width: 10%;
    }

    nav #icons div p{
        top: 1.2rem;
        left: 2rem;
    }
    
    #check{
        display: none;
        color: var(--primary_color);
    }
    
    #check:checked ~ nav{
        opacity: 1;
        transition: 0.5s;
        height: 77%;
        
        z-index: 500;
    }

    #check:checked > body{
        overflow-y: hidden;
        overflow-x: scroll;
    }
    
    #check:checked ~ nav li {
        display: inline;
    }

    /* Main */

    main{
        width: 90%;
    }

    section{
        flex-wrap: wrap;
    }

    section #title{
        width: 100%;
        margin-left: 0rem;
        padding-bottom: 1rem;

        text-align: center;
        font-size: 1.8rem;
    }

    section div img{
        width: 100%;
    }
    
    #image{
        width: 100%;
        position: relative;
    }

    #image .plus{
        font-size: 0.7rem;
    }

    #image .plus2{
        top: 5.2rem;
        right: 5rem;
    }
    
    #image .plus3{
        top: 4.8rem;
        right: 10rem;
    }

    .tag{
        top: 1rem;
        left: 16.5rem;
    }

    .tag i{
        font-size: 4.5rem;
    }

    .tag p{
        font-size: 1rem;
    }

    #products{
        margin-top: 2rem;
    }

    #products #subtitle h2{
        font-size: 2.6rem;
        text-align: center;
    }

    #products section div h3{
        font-size: 2.2rem;
    }

    #products section .info p{    
        font-size: 0.9rem;
    }

    #products section .info .subtitle{
        font-size: 0.8rem;
    }

    #products section div a{
        font-size: 0.9rem;
    }

    #products section .product_img .box{
        width: 100%;
        height: 20rem;
    
        top: 0rem;
        right: 0rem;
    }

    #products section .product_img .bag{
        width: 85%; 
        padding: 1.5rem;
    
        position: relative;
        right: 0rem;
        bottom: 0rem;
    }

    #products section .product_img .bag p{
        font-size: 0.8rem;
    }

    #products section .product_img .bag i{
        padding-right: 0.8rem;
        font-size: 1.5rem;
    }

    #products section .product_img .tag{
        width: 0;
        padding: 0;

        top: 0.2rem;
        left: 16rem;
    }

    #products section .product_img .tag p{
        width: 0rem;
    
        font-size: 1rem;
    }
    
    #products section .product_img .tag i{
        font-size: 5rem;
    }

    #our_products{
        margin-top: 1rem;
    }

    #our_products #subtitle h2{
        text-align: center;
        font-size: 3rem;
    }

    #our_products section{
        margin-bottom: 1rem;
        justify-content: flex-start;
    }

    #our_products section .menu{
        width: 100%;
    }

    #our_products section .menu ul{
        display: flex;
        flex-direction: row;

        width: 100%;
    }
    
    #our_products section .menu ul li:nth-child(4),
    #our_products section .menu ul li:nth-child(5),
    #our_products section .menu ul li:nth-child(6),
    #our_products section .menu ul li:nth-child(7),
    #our_products section .menu ul li:nth-child(8){
        display: none;
    }

    #our_products section .menu ul .selected div{
        width: 4rem;

        top: 0.55rem;
        left: -0.4rem;
    }

    #our_products section .images{
        width: 100%;
        margin-left: 0rem;

        flex-wrap: wrap;
    }

    #our_products section .images div:nth-child(2),
    #our_products section .images div:nth-child(3){
        display: none;
    }

    #our_products section .images div .tag{
        width: 0;
        top: 5rem;
        left: 16rem;
    }

    #our_products section .images div .tag p{
        left: 1.4rem;
    }

    /* Need */

    #need{
        padding: 2rem;
    }

    #need section{
        margin-top: 0rem;
        flex-wrap: wrap;
    }

    #need section .images{
        width: 100%;
        height: 32rem;
    }
    

    #need section .images img{
        position: absolute;
    
        width: 8rem;
    }
    
    #need section .images img:nth-child(1){
        top: 12rem;
        left: 8.2rem;
    }
    
    #need section .images img:nth-child(2){
        width: 10rem;
    
        top: 0rem;
        left: 0rem;
    }
    
    #need section .images img:nth-child(3),
    #need section .images img:nth-child(4){
        display: none;
    }

    #need section .content{
        width: 100%;
        height: 22rem;
        padding-bottom: 8rem;
    }

    #need section .content p{
        padding-right: 0rem;
    }

    #need section .content button{
        margin-right: 7.4rem;
    }

    #need section .plant{
        display: none;
    }

    /* Footer */

    footer ul{
        width: 100%;
        align-items: center;
    }

    footer .menu li{
        font-size: 0.9rem;
    }

    footer .icons{
        font-size: 1.1rem;
    }

    footer .icons li{
        width: 20%;
    }

    footer div{
        flex-wrap: wrap;

        font-size: 0.7rem;
    }
    
    footer div p{
        width: 100%;
    }
    
    footer div ul{
        width: 100%;
        padding-top: 1rem;

        font-size: 0.6rem;
    }
    
}
