*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

div{
    width: 10rem;
    height: 10rem;

    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 100%;
    border: 12px solid red;
}

.circulo1{
    animation: circulo1 6s ease-in-out infinite;
    animation-delay: 3s;
}

.circulo2{
    animation: circulo2 6s ease-in-out infinite;
    animation-delay: 3s;
}

.circulo3{
    animation: circulo3 6s ease-in-out infinite;
    animation-delay: 3s;
}

.circulo4{
    animation: circulo4 6s ease-in-out infinite;
    animation-delay: 3s;
} 

/* .circulo1{
    top: 50%;
    left: 43%;
}
.circulo2{
    top: 37%;
    left: 50%;
}
.circulo3{
    top: 64%;
    left: 50%;
}
.circulo4{
    top: 50%;
    left: 57%;
} */

@keyframes circulo1{
    0%{
        transform: scale(100%);
        top: 50%;
        left: 50%;
    }

    25%{
        top: 45%;
        left: 45%;
    }

    50%{
        top: 50%;
        left: 43%;
        transform: scale(100%);
    }

    75%{
        top: 50%;
        left: 52%;
        transform: scale(0%);
    }

    100%{
        top: 50%;
        left: 50%;
    }
}

@keyframes circulo2{
    0%{
        transform: scale(100%);
        top: 50%;
        left: 50%;
    }

    25%{
        top: 45%;
        left: 45%;
    }

    50%{
        top: 37%;
        left: 50%;
        transform: scale(100%);
    }

    75%{
        top: 52%;
        left: 50%;
        transform: scale(0%);
    }

    100%{
        top: 50%;
        left: 50%;
    }
}

@keyframes circulo3{
    0%{
        transform: scale(100%);
        top: 50%;
        left: 50%;
    }

    25%{
        top: 54%;
        left: 54%;
    }

    50%{
        top: 64%;
        left: 50%;
        transform: scale(100%);
    }

    75%{
        top: 48%;
        left: 50%;
        transform: scale(0%);
    }

    100%{      
        top: 50%;
        left: 50%;
    }
}

@keyframes circulo4{
    0%{
        transform: scale(100%);
        top: 50%;
        left: 50%;
    }

    25%{
        top: 54%;
        left: 54%;
    }

    50%{
        top: 50%;
        left: 57%;
        transform: scale(100%);
    }

    75%{
        top: 50%;
        left: 48%;
        transform: scale(0%);
    }

    100%{
        top: 50%;
        left: 50%;
    }
}