*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    max-height: 100vh;
}

main{
    width: 500px;
    height: auto;
    margin: auto;
    padding: 1%;
    
    background-color: rgb(32, 32, 32);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main section{ 
    position: relative;
    width: 100%;

    display: flex;

    color: white;
}

/* RESULTADO */

#result{
    padding: 5%;

    flex-direction: column;
    align-items: flex-end;
}

#result p{
    font-size: 1.5rem;
    color: rgb(222, 222, 222);
}

#result h1{
    font-size: 5rem;
}

#operation{
    height: 3.5vh;
}

#num{
    height: 9vh;
}

/* FILAS */

.row{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-around;
}

.first{
    height: 70px;
}

.row div{
    width: 100%;
    height: 100%;
    padding: 1%;

    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 100%;
    height: 100%;

    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    color: white;
    border: none;
    
    font-size: 1.7rem;
    cursor: pointer;
}

.grey{
    background-color: rgb(59, 59, 59);
}

.blue{
    background-color: rgb(76, 194, 255);
}

.first button{
    font-size: 1rem;
    background-color: rgb(32, 32, 32);
}

button:hover{
    filter: brightness(75%);
}

#memorys{
    width: 500px;
    height: 65vh;
    padding: 2%;

    position: absolute;
    top: 26%;
    left: 37%;

    display: none;
    flex-direction: column;

    background-color: rgb(32, 32, 32);
}

#memorys .close{
    width: 11%;
    height: 8%;
    margin: 2%;

    align-self: flex-end;

    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    
    font-size: 1rem;
    opacity: 1;
}

#memorys .num_memory{
    width: 100%;
    height: 13%;
    padding-left: 5%;

    display: flex;
    align-items: center;

    font-size: 1.5rem;
}

#memorys .num_memory:hover{
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

#memorys .num_memory p{
    width: 20%;
}

.buttons{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
}

.buttons button{
    width: 11%;
    height: 50%;
    margin: 2%;

    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    
    font-size: 1rem;
    opacity: 0;
}

.num_memory:hover > .buttons button{
    transition: 0.5s;
    opacity: 1;
}

.disabled{
    filter: brightness(70%);
    cursor: auto;
}