*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 2%;
    margin-left: 1.5%;

    display: grid;
    grid-template-rows: repeat(11, 10vh);

    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.titulo{
    width: 100%;

    text-align: center;
    color: black;

    font-size: 4rem;
    font-family: sans-serif;
    letter-spacing: 0.5rem;
    word-spacing: 2.5rem;
}

.leyenda{
    width: 44vw;
    height: 26vh;

    position: absolute;
    left: 18vw;
    top: 15vh;

    display: flex;
    justify-content: flex-end;
    color: black;
}

.colores{
    width: 50%;
    height: 80%;
    margin-top: 4%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.item{
    width: 50%;
    height: 4vh;
    display: flex;
}

.color{
    width: 1vw;
    height: 2vh;
    margin-right: 5%;
}

.ejemplo{
    width: 50%;
    margin-right: 8%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.caja_ejemplo{
    width: 160px;
    height: 160px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.caja_ejemplo .num, .caja_ejemplo .nombres{
    font-size: 1.1rem;
    opacity: 1;
}

.caja_ejemplo h1{
    font-size: 3.5rem;
}

.num_atomico,
.masa_atomica,
.simbolo_quimico,
.nombre{
    width: 20%;
    position: absolute;
}

.num_atomico{
    top: 20%;
    left: -3%;
}

.masa_atomica{
    top: 20%;
    left: 85%;
}

.simbolo_quimico{
    top: 43%;
    left: -3%;
}

.nombre{
    top: 69%;
    left: 85%;
}

.linea_num_atomico,
.linea_masa_atomica,
.linea_simbolo_quimico,
.linea_nombre{
    height: 2px;
    position: absolute;
    background-color: black;
}

.linea_num_atomico{
    width: 18%;
    top: 27.5%;
    left: 14%;
}

.linea_masa_atomica{
    width: 14%;
    top: 27.5%;
    left: 68%;
}

.linea_simbolo_quimico{
    width: 28%;
    top: 50.5%;
    left: 14%;
}

.linea_nombre{
    width: 17%;
    top: 72.5%;
    left: 65%;
}

.fila, .fila2{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.fila2{
    padding-left: 10.6vw;
    width: 94.4%;
}

.derecha, .izquierda{
    width: 50%;
    display: flex;
}

.derecha{
    justify-content: flex-end;
}

.caja{
    width: 5.3vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: 5px solid white;
    transition: 0.5s;
}

.num{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nombres, .num{
    font-size: 0.75rem;
    opacity: 0;
    transition: 0.5s;
}

.caja:hover .nombres, .caja:hover .num{
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

.caja:hover{
    transform: scale(120%);
    transition: 0.5s;
}

.nometales{
    background-color: rgb(255, 156, 58);
    color: black;
}

.gasesnobles{
    background-color: rgb(5, 108, 74);
}

.metalesalcalicos{
    background-color: rgb(14, 9, 126);
}

.alcalinoterreos{
    background-color: rgb(245, 214, 92);
    color: black;
}

.metaloides{
    background-color: rgb(210, 33, 95);
}

.halogenos{
    background-color: rgb(135, 161, 90);
    color: black;
}

.metales{
    background-color: rgb(96, 37, 138);
}

.metalesdetransicion{
    background-color: rgb(30, 113, 201);
}

.lantanidos3{
    background-color: rgb(177, 223, 177);
    color: black;
}

.actinidos3{
    background-color: rgb(66, 90, 66);
}