*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 2%;

    display: grid;
    grid-template-rows: repeat(11, 10vh);

    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.leyenda{
    width: 44vw;
    height: 26vh;

    position: absolute;
    left: 17vw;

    display: flex;
    color: black;

    background-color: antiquewhite;
}

.colores{
    width: 100%;

    display: flex;
    background-color: aqua;
}

.color{
    width: 1vw;
    height: 2vh;
    margin-right: 1.5%;
}

.fila, .fila2{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.fila2{padding-left: 10.6vw;
    width: 94.4%;
}

.derecha, .izquierda{
    width: 50%;
    display: flex;
}

.derecha{
    justify-content: flex-end;
}

.caja{
    width: 5.3vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: 5px solid white;
}

.num{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nombres, .num{
    font-size: 0.75rem;
    opacity: 0;
    transition: 0.5s;
}

.caja:hover .nombres, .caja:hover .num{
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

.nometales{
    background-color: rgb(255, 156, 58);
    color: black;
}

.gasesnobles{
    background-color: rgb(5, 108, 74);
}

.metalesalcalicos{
    background-color: rgb(14, 9, 126);
}

.alcalinoterreos{
    background-color: rgb(245, 214, 92);
    color: black;
}

.metaloides{
    background-color: rgb(210, 33, 95);
}

.halogenos{
    background-color: rgb(135, 161, 90);
    color: black;
}

.metales{
    background-color: rgb(96, 37, 138);
}

.metalesdetransicion{
    background-color: rgb(30, 113, 201);
}

.lantanidos, .actinidos{
    background-color: rgb(237, 218, 166);
    color: black;
}

.lantanidos3{
    background-color: rgb(177, 223, 177);
    color: black;
}

.actinidos3{
    background-color: rgb(66, 90, 66);
}